/*GLOBAL STYLES*/

html, body {
    height:100%;
    width:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#F1F1F1;
    font-family:'Source Sans Pro', Trebuchet MS, sans-serif;
    font-size:16px;
    /*color:#FFFFFF !important;*/
    font-weight:400;
}

body {
    color:#000000;
}

h1, h2, h3, h4 {
    margin:0px;
    padding:0px;
    color:#8DC63F; /* #0033CC - THIS COLOR IS BLUE */
                    /* #DDEEFF - SECONDARY COLOR - THIS COLOR IS LIGHT BLUE */ 
}

p {
    line-height:150%;
    margin:15px 0px;
}

b, strong {
    color:#8DC63F;
}


a {
    color:#8DC63F;
    text-decoration:none;
}

a:hover {
    color:#FF7900; /* THIS COLOR IS ORANGE */
}

/* MAIN BODY STYLES */

.mainWidth {
    overflow:hidden;
    margin:0px auto;
    width:1200px;
}

/* ============ HEADER STYLES ============ */

header {
    background-color:#FFFFFF;
}

#header {
    position:relative;
    padding:15px 0px;
}

#logo a {
    color:#FF7900; /* SECONDARY COLOR ORANGE */
}

#logo a:hover {
    color:#8DC63F;
}

/* ------- MENU STYLES ------- */

#menu {
    position:absolute;
    top:20px;
    right:20px;
}

#menu ul {
    display:inline-block;
}


#menu li {
    display:inline;
    text-align:center;
}

#menu li:after {
    content:"|";
    padding:0px 15px;
    font-weight:600;
    color:#000000;
}

.currentPage {
    color:#FF7900;
}

.currentPage:hover {
    color:#8DC63F;
}

/* BANNER STYLES */

#bannerHome {
    overflow:hidden;
    padding:150px 0px;
    border-top:3px solid #8DC63F;
    background-size:cover;
    background:url(../images/banner-home.jpg) no-repeat center center #FF7900;
}

.bannerText {
    font-size:6em;
    color:#FFFFFF;
    text-align:center;
    text-shadow:7px 7px 10px #000000;
}

.bannerCenter {
    margin:0px auto;
    overflow:hidden;
    text-align:center;
    width:800px;
}

/* THREE COLUMN FORMAT */

.columnA, .columnB, .columnC {
    width:384px;
}

.columnA h2, .columnB h2, .columnC h2 {
    font-size:2.5em;
    font-weight:700;
    text-align:center;
    line-height:1.5em; /* ADDS MARGIN */
}

.columnA p, .columnB p, .columnC p {
    text-align:justify;
}

/*.columnA img, .columnB img, .columnC img {*/
/*    width:100px;*/
/*    height:100px;*/
/*}*/

.columnA, .columnB {
    /*display:inline-block;*/
    float:left;
    margin-right:24px;
}

.columnC {
    float:left;
}
.box span {
    background-color:#8DC63F;
    color:#FFFFFF;
    display:block;
    font-size:2.0em;
    font-weight:900;
    margin-bottom:16px;
    padding:16px;
    text-align:center;
    text-transform:uppercase;
}
/* EXTRA STYLES */

.button {
    display:inline-block;
    /*padding:10px 15px;*/
    text-transform:uppercase;
    padding:15px 20px;    
    margin:10px 0px;
    font-size:1.2em;
    background-color:#8DC63F;
    color:#FFFFFF;
    border-radius:4px;
    letter-spacing:2px; /* THIS IS OPTIONAL */
    font-weight:700;
	transition:background 0.6s linear 0s, color 0.6s linear 0s;	    
}

a.button:hover {
    background-color:#FF7900;
    /*text-decoration:none;*/
    color:#FFFFFF;
}

/* ABOUT ME SECTION */

.alignLeft {
    float:left;
    margin-right:24px;
}

#aboutMe {
    margin:25px 0px;
}




/* FOOTER STYLES */

footer {
    background-color:#d5eab8;
    border-top:3px dotted #8DC63F;
    padding:60px 0px;
    overflow:hidden;
    text-align:center;
}